*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
h2{
    margin: auto;
    text-align: center;
    color: #e7c712;

}

a{
    
    /* color: #666; */
    text-decoration: none;
    /* font-size: inherit; */
    outline: none;
}
img{
    height: 60px;
    width: 18%;
    margin: 10px;
    padding: 10px;

    padding-left: 10px;
}
form{
    height: 300px;  
    width: 30%;
    margin: auto;
    /* margin-top: 250px; */
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;



}
input{
    height: 40px;
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 30px;
    font-size: 20px;
      text-align: center;
      
     /* padding: 10px; */
     /* border: 0px; */
     /* border: 1px solid grey; */



}
form > :nth-child(4){
    height: 50px;
    width: 80%;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffda00;
    cursor: pointer;
}





